[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
src = {editable = true, path = "./src"}
youtube-transcript-api = "*"
urllib3 = "==1.26.18"

[requires]
python_version = "3.8"
